################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WatsonAssistantInterface/v16/Server/sqlite3
/.vs/WatsonAssistantInterface/v16/.suo
/bin/Debug
/obj/Debug
/packages/IBM.Cloud.SDK.Core.0.8.0
/packages
/WatsonAssistantInterface.csproj.user
